.valid {
  color: var(--green-valid-color);
}

.valid::before {
  padding-right: 0.5rem;
  content: "✅";
}

.invalid {
  color: var(--red-invalid-color);
}

.invalid::before {
  padding-right: 0.5rem;
  content: "❌";
}

.requirements {
  font-size: 1.1rem;
  font-weight: 501;
}
