.new-message-form-container {
  padding: 1rem;
  background-color: var(--surface-1);
}

.new-message-form {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 1rem;
}

.new-message-form textarea,
.new-message-form .sizer {
  grid-area: 1/ 1/ 2 /2;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  border: none;
  resize: none;
  align-self: stretch;
  overflow-x: hidden;
  max-height: 10rem;
  min-height: 1rem;
  background-color: var(--surface-9);
}

/* used to create the effect of auto grow of the textarea */
.new-message-form .sizer {
  visibility: hidden;
  height: auto;
  word-wrap: break-word;
  white-space: pre-wrap;
  color: green;
}

.new-message-form button {
  grid-area: 1 /2;
  align-self: end;
}

.new-message-form textarea {
  background-color: var(--primary-200);
  color: var(--primary-900);
}

.new-message-form .image-selector {
  position: relative;
}

.new-message-form .image-selector label {
  cursor: pointer;
}
.new-message-form .image-selector input.message-pictures:focus-visible {
  outline: none;
}

.new-message-form
  .image-selector
  .file-input-label-button:has(input:focus-visible) {
  outline: 2px solid var(--primary-800);
}

.new-message-form input[type="file"] {
  width: 1px;
  height: 1px;
  position: absolute;
}

.new-message-form label.file-input-label-button {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.new-message-form .image-selector button {
  background-color: unset;
  border: none;
  padding: 0;
  display: flex;
}
