.flash-messages {
  display: grid;
  gap: 1rem;
  margin: 1rem 0;
}

.flash-message {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  background-color: var(--green-alert-color);
  color: black;
  border-radius: 1rem;
  transition: transform 0.5s;
  transform: scaleY(1);
  font-weight: 601;
  transform-origin: top;
}

.collapsed {
  transform: scaleY(0);
}

.flash-message {
  border: 1px solid var(--primary-700);
}

.flash-message .close-flash-message {
  border: 2px solid black;
  border-radius: 50%;
  padding: 0.2rem 0.5rem;
  background-color: var(--green-alert-color);
  text-align: center;
}

.flash-message.error {
  background-color: var(--red-alert-color);
}

.flash-message.error .close-flash-message {
  background-color: var(--red-alert-color);
}
