.chat-message {
  position: relative;
  background-color: var(--neutral-300);
  color: var(--neutral-900);
  border-radius: 1rem;
  width: min(100%, 25rem);
  min-width: 10rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.chat-message.mine {
  margin-left: auto;
  background-color: var(--primary-200);
}

.chat-message .message-date {
  align-self: end;
  font-size: 0.9rem;
  color: var(--neutral-800);
}

.chat-message .message-content {
  word-wrap: break-word;
  white-space: pre-wrap;
  overflow-x: hidden;
  max-width: 100%;
}

.chat-message:hover .delete-message-button,
.chat-message:has(:focus-visible) .delete-message-button {
  transform: scale(1);
}

.delete-message-button {
  position: absolute;
  transform: scale(0);
  top: 0.5rem;
  right: 0.5rem;
}

.delete-message-button:hover {
  background-color: var(--red-alert-color);
}

div.message-pictures {
  overflow: auto;
  display: flex;
  flex-wrap: wrap;
  max-height: 500px;
  border: 5px solid var(--primary-200);
  border-radius: 1rem;
  background-color: var(--primary-200);
  gap: 5px;
}

.message-picture {
  flex: 1 1 125px;
  max-height: 200px;
}
.message-picture:only-child {
  max-height: 490px;
}

.message-picture img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  display: block;
}
