.profile-form-container label {
  flex: 0 0 8rem;
}

.profile-form-container input,
.profile-form-container textarea {
  flex: 1 1 13rem;
}

.profile-form-container textarea {
  resize: none;
}

.profile-form-container .profile-picture-row-top {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 1rem;
}

.profile-form-container .profile-picture-selected-file-row {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.profile-picture-row .file-input-label-button {
  position: relative;
  align-self: center;
  cursor: pointer;
}
.profile-picture-row
  .file-input-label-button:has(input[type="file"]:focus-visible) {
  outline: 2px solid var(--primary-800);
}

.profile-form-container input[type="file"] {
  position: absolute;
  height: 0;
  width: 0;
  padding: 0;
  border: none;
}

.profile-form-container input[type="file"]:focus-visible {
  outline: none;
}

.picture-to-upload {
  background-color: var(--accent-500);
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  font-weight: 501;
  color: #232226 !important;
}

@media screen and (max-width: 768px) {
  .profile-picture-row .file-input-label-button {
    margin: auto;
  }
}
