aside {
  background: linear-gradient(
    to bottom,
    var(--primary-200),
    var(--primary-100)
  );
  padding: 0.5rem 1rem;
  max-height: 1000px;
  align-self: start;
}

.menu {
  color: var(--neutral-700);
}

.menu-header {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.menu h2 {
  margin: 2rem 0;
}

aside .menu-items {
  margin: 1rem 0;
  padding: 0;
  display: grid;
  gap: 0.5rem;
  font-size: 1.1rem;
  font-weight: 501;
}

aside .menu-items a {
  text-decoration: none;
  flex: 1;
}

aside .menu-items a {
  color: var(--neutral-900);
}

aside .item {
  display: flex;
  position: relative;
  justify-content: stretch;
}

aside .item .menu-link {
  display: flex;
  flex-direction: column;
  padding: 0.75rem 0;
}

aside .item .menu-link::after {
  content: "";
  background: linear-gradient(to right, var(--primary-400), rgba(0, 0, 0, 0));
  bottom: 0;
  width: 100%;
  height: 5px;
  margin-top: 5px;
  transition: transform ease-in-out 0.5s;
  transform: scaleX(0);
  transform-origin: left;
}

aside .item:hover .menu-link::after {
  transform: scaleX(1);
}

aside li {
  list-style-type: none;
}

aside .button.collapse-menu-button {
  display: none;
}

@media screen and (max-width: 768px) {
  .menu h2 {
    margin: 1rem 0;
  }

  aside .button.collapse-menu-button {
    display: flex;
  }

  aside .menu-collapsed {
    display: none;
  }

  aside .menu-items {
    margin: 0;
    padding: 0 1rem;
    gap: 0;
  }

  aside .item .menu-link {
    padding: 0.5rem 0;
  }
}
