.chat-header {
  background-color: var(--primary-200);
  border-radius: 1rem;
  text-align: center;
}

.chat-header a {
  color: var(--neutral-800);
  text-decoration: none;
  font-weight: 501;
}

.chat-header:has(a:hover) {
  background-color: var(--primary-300);
}

.chat-header .name {
  padding: 1rem;
  text-wrap: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
}
